name: BE-CI

on: 
  pull_request:
    branches: 
      - main
    paths:
      - 'backend/**'

defaults:
  run: 
    working-directory: ./backend

jobs:
  run-quality-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
      - name: Using docker to check convention codebase
        run: |
          echo "Start lint..."
          echo "Install tool..."
          echo "Lint done."